params {
    gtdb_db = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/release214"
    gunc_db = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/gunc_db_2.0.4.dmnd"
    interproscan_db = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/interproscan-5.62-94.0/data"

    eggnog_db = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/eggnog/data/eggnog.db"
    eggnong_diamond_db = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/eggnog/data/eggnog_proteins.dmnd"
    eggnong_data_dir = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/eggnog/data/"

    rfam_rrna_models = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/rfam_14.9/rfams_cms"
    rfam_ncrna_models = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/rfam_14.9/ncrna_cms"

    geo_metadata = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/continent_countries.csv"
    kegg_classes = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/kegg_classes.tsv"

    amrfinder_plus_db = "/work/qd33/nanopore/QD_ptrap_20230908/MGnify_db/AMRFinderPlus/database/3.11/2023-02-23.1"
}
